@model IEnumerable<address.ModelsData.DataHouses>

@{
    ViewData["Title"] = "Пользователи";
    //Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Поиск по адресу</title>
</head>
<body>
    <h3>Поиск</h3>
    <form>
        <div class="form-group" style="display: inline-block;max-width:200px;">
            <label class="control-label">Регион(Республика):</label>
            <input id="RegionName" class="form-control" />
        </div>
        <div class="form-group" style="display: inline-block;max-width:200px;">
            <label class="control-label">Город:</label>
            <input id="LocalityName" class="form-control" />
        </div>
        <div class="form-group" style="display: inline-block;max-width:200px;">
            <label class="control-label">ЭПС:</label>
            <input id="DistrictName" class="form-control" />
        </div>
        <div class="form-group" style="display: inline-block;max-width:200px;">
            <label class="control-label">Улица:</label>
            <input id="StreetName" class="form-control" />
        </div>
        <div class="form-group" style="display: inline-block;max-width:200px;">
            <label class="control-label">№ Дома:</label>
            <input id="HouseNum" class="form-control" />
        </div>
        <div class="form-group">
            <div id="Search" type="submit" class="btn btn-primary">Поиск</div>
        </div>
    </form>
    <table id="SearchResult" class="table">
        <h3 style="text-align: center">Для поиска необязательно заполнять все поля</h3>
    </table>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
        $("body").keypress(function (e) {
            if (e.which === 13) {
                $('#Search').click();
            }
        });
    });
    $('#Search').click(function(){
        document.getElementById('SearchResult').innerHTML = '<h3 style="text-align: center">Выполняется поиск...</h3>';
        var RegionName = document.getElementById('RegionName').value;
        var LocalityName = document.getElementById('LocalityName').value;
        var DistrictName = document.getElementById('DistrictName').value;
        var StreetName = document.getElementById('StreetName').value;
        var HouseNum = document.getElementById('HouseNum').value;
        $.ajax({
                type: 'GET',
                url: '@Url.Action("Search","Home")',
                data: { RegionName: RegionName, LocalityName: LocalityName, DistrictName: DistrictName, StreetName: StreetName, HouseNum:HouseNum },
                success: function (data) {
                    document.getElementById('SearchResult').innerHTML = data;
                }
            });

    });

</script>
}