@model IEnumerable<address.Models.Localities>
<select id="locality" name="Localities">
    @foreach (var item in Model)
    {
        <option value="@item.LocalityId">@item.LocalityName</option>
    }
</select>