@model address.Models.Users

@{
    ViewData["Title"] = "Личный кабинет";
    //Layout = null;
}

<html>
<head>
    <title>Личный кабинет</title>
</head>
<body>
    <h3>@User.Identity.Name @Model.Email</h3>
    
</body>
</html>