@model address.ViewModels.LoginModel

<h2>Вход на сайт</h2>

<a asp-action="Register" asp-controller="Account">Регистрация</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div style="display:table;border-spacing: 10px">
        <div class="form-group" style="display:table-row">
            <div style="display:table-cell"><label asp-for="Email" style="display:table-cell">Введите Email</label></div>
            <div style="display:table-cell"><input type="text" asp-for="Email"/><span asp-validation-for="Email" /></div>
        </div>
        <div class="form-group" style="display:table-row;">
            <div style="display:table-cell"><label asp-for="Password">Введите пароль</label></div>
            <div style="display:table-cell" style="padding:10px;"><input asp-for="Password"/><span asp-validation-for="Password" /></div>
            </div>
        <div class="form-group" style="display:table-row">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>